{% extends 'useradmin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}    

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Lista de orden</h2>
            <p>Gestiona todos tus pedidos desde aquí</p>
        </div>
        <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white" />
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Estado</option>
                        <option>Activo</option>
                        <option>Desactivado</option>
                        <option>Mostrar todo</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Mostrar 20</option>
                        <option>Mostrar 30</option>
                        <option>Mostrar 40</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                            <tr>
                            <th>#ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Estado de la orden</th>
                            <th scope="col">Estado del pago</th>
                            <th scope="col">Accion</th>
                        </tr>
                            
                    </thead>
                    <tbody>
                        {% for c in orders %}
                            <tr>
                                <td>#{{c.oid}}</td>
                                <td><b>{{c.full_name|title}}</b></td>
                                <td>{{c.email}}</td>
                                <td>${{c.price}}</td>
                                <td><span class="badge alert-secondary">Pendiente</span></td>
                                {% if c.paid_status == True %}
                                    <td><span class="badge alert-success"></span>Pagado</td>
                                {% else %}
                                    <td><span class="badge alert-danger">Not Pagado</span></td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'useradmin:order_detail' c.id %}" class="btn btn-md rounded font-sm">Ver Detalles</a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <!-- <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div> -->
</section>


{% endblock content %}
